<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ club.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isCreator&&isMember" [routerLink]="['./edit']">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="club" text-center>
  <ion-img [src]='club.imgURL'></ion-img>
  <ion-grid no-padding fixed>
    <ion-row margin>
      <ion-col size="8" offset="2">
        <ion-label *ngIf="club.creator">
          <h1>{{ club.name }}</h1>
          <h2>Основатель: {{ club.creator.nickName }}</h2>
        </ion-label>
        <ion-button margin *ngIf="(!isMember)&&(club.options.isPublic)" shape="round" (click)="openOverlay()">
          Присоединиться
        </ion-button>
        <ion-button margin *ngIf="(!isMember)&&(!club.options.isPublic)" shape="round" (click)="openOverlay()">
          Подать заявку
        </ion-button>
        <ion-button margin *ngIf="isMember" shape="round" (click)="leaveClub()" color="danger">
          Покинуть клуб
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<div *ngIf="joinForm" class="classic-overlay full-page" [hidden]="overlayHidden" (click)="closeOverlay($event)">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">

        <form [formGroup]="joinForm" (ngSubmit)="joinClub()" novalidate>
          <ion-card id="card">

            <ion-card-header text-left>
              <ion-card-subtitle>Клубный</ion-card-subtitle>
              <ion-card-title>Псевдоним</ion-card-title>
            </ion-card-header>

            <ion-card-content text-left>
              Выберите псевдоним под которым хотели бы вступить в этот клуб
              <ion-item no-padding>
                <ion-label *ngIf="nickName.value == ''" position="stacked">
                </ion-label>
                <ion-label *ngIf="nickName.invalid && nickName.dirty && nickName.value != ''" position="stacked"
                  color="danger">
                  Псевдоним уже занят.
                </ion-label>
                <ion-label *ngIf="nickName.pending" position="stacked" color="warning">
                  Проверяем...
                </ion-label>
                <ion-label *ngIf="nickName.valid" position="stacked" color="success">
                  Псевдоним свободен!
                </ion-label>
                <ion-input type="text" placeholder="Псевдоним" formControlName="nickName"></ion-input>
              </ion-item>
            </ion-card-content>

            <ion-button margin-bottom margin-horizontal *ngIf="(!isMember)&&(club.options.isPublic)" shape="round" expand="full" type="submit" [disabled]="joinForm.invalid || joinForm.pending">
              Присоединиться
            </ion-button>
            <ion-button margin-bottom margin-horizontal *ngIf="(!isMember)&&(!club.options.isPublic)" shape="round" expand="full" type="submit" [disabled]="joinForm.invalid || joinForm.pending">
              Отправить заявку
            </ion-button>
            
          </ion-card>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>