<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/clubs"></ion-back-button>
    </ion-buttons>
    <ion-title>Создать</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="full-page">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" offset="2">

        <ion-label margin>
          <h1>Как назовём?</h1>
        </ion-label>

        <form [formGroup]="clubForm" (ngSubmit)="createClub()" novalidate>

          <ion-item>
            <ion-label *ngIf="name.value == ''" position="stacked">
              Название вашего клуба:
            </ion-label>
            <ion-label *ngIf="name.invalid && name.dirty && name.value != ''" position="stacked" color="danger">
              Название уже занято.
            </ion-label>
            <ion-label *ngIf="name.pending" position="stacked" color="warning">
              Проверяем...
            </ion-label>
            <ion-label *ngIf="name.valid" position="stacked" color="success">
              Название свободно!
            </ion-label>
            <ion-input type="text" placeholder="МафКлуб" formControlName="name"></ion-input>
          </ion-item>

          <ion-button margin type="submit" shape="round" [disabled]="clubForm.invalid">Создать</ion-button>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>