<ion-header>
  <ion-toolbar>
    <ion-title>Войти</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row align-items-center style="height: 100%">
    <ion-col>
      <ion-row margin-vertical justify-content-center>
        <h2>Консильери</h2>
      </ion-row>
      <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-row justify-content-center>
          <div padding>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="email"  [(ngModel)]="Email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Пароль</ion-label>
              <ion-input name="password" type="password" [(ngModel)]="Password" required></ion-input>
            </ion-item>
          </div>
        </ion-row>
        <ion-row margin-vertical justify-content-center class="ion-text-center">
          <ion-button type="submit" shape="round">Войти</ion-button>
          <!--[disabled]="form.invalid"-->
        </ion-row>
      </form>
      <ion-row justify-content-center class="ion-text-center">
        <p>Еще нет аккаунта?</p>
      </ion-row>
      <ion-row justify-content-center class="ion-text-center">
        <a [routerLink]="['/register']" routerDirection="forward">зарегистрироваться</a>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>