<ion-content class="full-page">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-label margin>
          <h1>Консильери</h1>
        </ion-label>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

          <ion-item>
            <ion-label position="stacked">
              Ваша почта:
            </ion-label>
            <ion-input type="email" formControlName="email" placeholder="email@provider.domain"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">
              Ваша пароль:
            </ion-label>
            <ion-input type="password" formControlName="password" placeholder="Str0ngestPa22w0rd"></ion-input>
          </ion-item>

          <ion-button margin type="submit" shape="round" [disabled]="loginForm.invalid">
            Войти
          </ion-button>
        </form>
        <ion-label>
          <p>Еще нет аккаунта?</p>
          <a [routerLink]="['/register']" routerDirection="forward">зарегистрироваться</a>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>