<ion-header>
  <ion-toolbar>
    <ion-title>Профиль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" text-center>
  <ion-img [src]='user.photoURL'></ion-img>
  <ion-grid no-padding fixed>
    <ion-row margin>
      <ion-col size="8" offset="2">
        <ion-label>
          <h1>{{ user.nickName }}</h1>
          <h2>{{ user.email }}</h2>
        </ion-label>
        <ion-button margin shape="round" (click)="logout()">Выйти</ion-button>
        <ion-button shape="round" color="danger" (click)="presentAlert()">Удалить аккаунт</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>